ol,
ul {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.nav {
    color: #33322e;
    text-decoration: none;
}

a.footer {
    color: #33322e;
    text-decoration: none;
}

p.font-weight-bold {
    text-align: center;
    height: 3rem;
    /* font-weight: bold; */
}

#pw-img {
    max-height: 180px;
}

.card {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

#imageCard {
    background-image: radial-gradient( circle, rgb(238, 174, 202) 0%, rgb(235, 175, 203) 3%, rgb(234, 175, 203) 4%, rgb(227, 176, 206) 12%, rgb(222, 177, 208) 18%, rgb(205, 179, 214) 37%, rgb(200, 180, 216) 42%, rgb(148, 187, 233) 100%);
}

#contact-me {
    background-image: radial-gradient( circle, rgb(238, 174, 202) 0%, rgb(235, 175, 203) 3%, rgb(234, 175, 203) 4%, rgb(227, 176, 206) 12%, rgb(222, 177, 208) 18%, rgb(205, 179, 214) 37%, rgb(200, 180, 216) 42%, rgb(148, 187, 233) 100%);
}

#paragraph {
    padding: 35px;
}

p {
    font-family: auto;
}

img:hover {
    opacity: 100%;
}

img {
    opacity: 50%;
}

#myimage {
    opacity: 100%;
}

#text-box {
    color: yellowgreen;
    text-decoration: none;
    font-weight: bold;
}